@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
  --bg: #F8F8F8;
  --menu: #f8f8f8;
  --text: #151515;
  --card: #101010;
  --verde: #28ac64;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  cursor: default;
}
h1{
  color: var(--text);
  font-weight: bold;
}
a {
  position: relative;
  font-size: 1rem;
  color: var(--text);
  text-decoration: none;
  padding: 0 10px;
}
a:after{
  content: "";
  position: absolute;
  background-color: var(--verde);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  transition: all 0.3s ease;
}
a:hover:after{
  width: 100%;
}


/* INICIO MENU */
#logo {
  font-size: 1.5rem;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--menu);
  background-color: rgba(0,0,0,0.05);

  z-index: 999;
  position: sticky;
  top: 0;
}

#logo img{
  max-width: 5vw;
  margin-top: 8px;
}



#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-weight: bold;
}

#btn-mobile {
  display: none;
}
/* FINAL MENU */



/* MAIN START */
#main{
  text-align: center;
}
/* HERO START */
.hero{
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),url(assets/img/fundo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  height: 89vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
  color: #fff;
  text-decoration: underline;
  font-size: 24px;
  text-align: center; 
  transition: .3s;
}
.hero-text h1{
  color: #32CD32;
}
.hero-text p{
  color: #151515;
  text-decoration: underline #353535;
}
.hero-text:hover{
  text-decoration: none;
}
/* HERO END */


/* Resumo */
#resumo{
  padding: 0 22vw;
  margin-top: 5vh;
}




/* MAIN END */






/* RESPONSIVIDADE */
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--menu);
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    margin-top: 0px;  
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: var(--text);
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
